/* incase an inverted custom gradient isn't specified */
/* line 177, ../../../../.rvm/gems/ruby-1.9.2-p180@projectory/gems/fancy-buttons-1.1.1/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class, body.bp .button {
  font-family: "Lucida Grande", Lucida, Arial, sans-serif;
  background: url('/images/button_bg.png') repeat-x bottom left;
  margin: 0;
  width: auto;
  overflow: visible;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border-style: solid;
  font-weight: bold;
}
/* line 165, ../../../../.rvm/gems/ruby-1.9.2-p180@projectory/gems/fancy-buttons-1.1.1/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class::-moz-focus-inner, body.bp .button::-moz-focus-inner {
  border: none;
  padding: 0;
}
/* line 168, ../../../../.rvm/gems/ruby-1.9.2-p180@projectory/gems/fancy-buttons-1.1.1/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class:focus, body.bp .button:focus {
  outline: none;
}

/* line 20, ../../app/stylesheets/application.scss */
body.bp {
  font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
  background-color: white;
  font-size: 16px;
}
/* line 25, ../../app/stylesheets/application.scss */
body.bp h1 {
  font-size: 3em;
  font-weight: bold;
  text-shadow: 2px 2px 2px #777777;
}
/* line 31, ../../app/stylesheets/application.scss */
body.bp h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2em;
  font-weight: bold;
  font-style: italic;
  color: #995f1c;
  text-shadow: 2px 2px 2px #777777;
}
/* line 40, ../../app/stylesheets/application.scss */
body.bp label {
  text-shadow: 2px 2px 2px #777777;
}
/* line 44, ../../app/stylesheets/application.scss */
body.bp input, body.bp textarea {
  -webkit-border-radius: 10px 10px;
  -moz-border-radius: 10px / 10px;
  -o-border-radius: 10px / 10px;
  -ms-border-radius: 10px / 10px;
  -khtml-border-radius: 10px / 10px;
  border-radius: 10px / 10px;
  font-size: 1.2em;
}
/* line 49, ../../app/stylesheets/application.scss */
body.bp .button {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  font-size: 18px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: #ab0013;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e56e7b), color-stop(10%, #d22638), color-stop(50%, #841824), color-stop(50%, #771520), color-stop(100%, #a21d2c));
  background-image: -webkit-linear-gradient(#e56e7b, #d22638 10%, #841824 50%, #771520 50%, #a21d2c);
  background-image: -moz-linear-gradient(#e56e7b, #d22638 10%, #841824 50%, #771520 50%, #a21d2c);
  background-image: -o-linear-gradient(#e56e7b, #d22638 10%, #841824 50%, #771520 50%, #a21d2c);
  background-image: linear-gradient(#e56e7b, #d22638 10%, #841824 50%, #771520 50%, #a21d2c);
  border-color: #500e16;
  text-shadow: #2b0005 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.335) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.335) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.335) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.335) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
  color: white;
}
/* line 116, ../../../../.rvm/gems/ruby-1.9.2-p180@projectory/gems/fancy-buttons-1.1.1/lib/stylesheets/_fancy-buttons.sass */
body.bp .button, body.bp .button:visited {
  color: white;
}
/* line 31, ../../../../.rvm/gems/ruby-1.9.2-p180@projectory/gems/fancy-buttons-1.1.1/lib/stylesheets/_fancy-buttons.sass */
body.bp .button:hover, body.bp .button:focus {
  background-color: #9c0011;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e3616f), color-stop(10%, #c52335), color-stop(50%, #771520), color-stop(50%, #6a131d), color-stop(100%, #951b28));
  background-image: -webkit-linear-gradient(#e3616f, #c52335 10%, #771520 50%, #6a131d 50%, #951b28);
  background-image: -moz-linear-gradient(#e3616f, #c52335 10%, #771520 50%, #6a131d 50%, #951b28);
  background-image: -o-linear-gradient(#e3616f, #c52335 10%, #771520 50%, #6a131d 50%, #951b28);
  background-image: linear-gradient(#e3616f, #c52335 10%, #771520 50%, #6a131d 50%, #951b28);
  border-color: #430c12;
  text-shadow: #1c0003 0px 1px 1px;
}
/* line 116, ../../../../.rvm/gems/ruby-1.9.2-p180@projectory/gems/fancy-buttons-1.1.1/lib/stylesheets/_fancy-buttons.sass */
body.bp .button:hover, body.bp .button:hover:visited, body.bp .button:focus, body.bp .button:focus:visited {
  color: white;
}
/* line 36, ../../../../.rvm/gems/ruby-1.9.2-p180@projectory/gems/fancy-buttons-1.1.1/lib/stylesheets/_fancy-buttons.sass */
body.bp .button:active {
  background-color: #8c000f;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #771520), color-stop(30%, #801722), color-stop(50%, #6e141e), color-stop(50%, #61111a), color-stop(100%, #9a1c29));
  background-image: -webkit-linear-gradient(#771520, #801722 30%, #6e141e 50%, #61111a 50%, #9a1c29);
  background-image: -moz-linear-gradient(#771520, #801722 30%, #6e141e 50%, #61111a 50%, #9a1c29);
  background-image: -o-linear-gradient(#771520, #801722 30%, #6e141e 50%, #61111a 50%, #9a1c29);
  background-image: linear-gradient(#771520, #801722 30%, #6e141e 50%, #61111a 50%, #9a1c29);
  border-color: #360a0f;
  text-shadow: #0d0001 0px -1px -1px;
  -moz-box-shadow: #500e16 0 0.08em 0.2em 1px inset;
  -webkit-box-shadow: #500e16 0 0.08em 0.2em 1px inset;
  -o-box-shadow: #500e16 0 0.08em 0.2em 1px inset;
  box-shadow: #500e16 0 0.08em 0.2em 1px inset;
}
/* line 116, ../../../../.rvm/gems/ruby-1.9.2-p180@projectory/gems/fancy-buttons-1.1.1/lib/stylesheets/_fancy-buttons.sass */
body.bp .button:active, body.bp .button:active:visited {
  color: white;
}
/* line 54, ../../app/stylesheets/application.scss */
body.bp #wrapper {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 57, ../../app/stylesheets/application.scss */
body.bp #wrapper #header {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  -webkit-border-radius: 10px 10px;
  -moz-border-radius: 10px / 10px;
  -o-border-radius: 10px / 10px;
  -ms-border-radius: 10px / 10px;
  -khtml-border-radius: 10px / 10px;
  border-radius: 10px / 10px;
  background-color: #17806d;
  margin-top: 10px;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.2-p180@projectory/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.bp #wrapper #header {
  overflow-x: hidden;
}
/* line 63, ../../app/stylesheets/application.scss */
body.bp #wrapper #header h1 {
  color: white;
  margin: 10px;
}
/* line 69, ../../app/stylesheets/application.scss */
body.bp #wrapper #projects {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 470px;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.2-p180@projectory/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.bp #wrapper #projects {
  overflow-x: hidden;
}
/* line 74, ../../app/stylesheets/application.scss */
body.bp #wrapper #projects #container {
  padding: 10px;
}
/* line 77, ../../app/stylesheets/application.scss */
body.bp #wrapper #projects #container .project {
  margin-bottom: 15px;
}
/* line 81, ../../app/stylesheets/application.scss */
body.bp #wrapper #projects #container .title {
  font-size: 1.5em;
  font-weight: bold;
  padding: 5px 10px 5px 10px;
  -webkit-border-radius: 10px 10px;
  -moz-border-radius: 10px / 10px;
  -o-border-radius: 10px / 10px;
  -ms-border-radius: 10px / 10px;
  -khtml-border-radius: 10px / 10px;
  border-radius: 10px / 10px;
}
/* line 87, ../../app/stylesheets/application.scss */
body.bp #wrapper #projects #container .title a {
  text-decoration: none;
  color: white;
}
/* line 93, ../../app/stylesheets/application.scss */
body.bp #wrapper #projects #container .description {
  color: #555555;
  font-family: Georgia, "Times New Roman", Times, serif;
}
/* line 100, ../../app/stylesheets/application.scss */
body.bp #wrapper #weeks {
  display: inline;
  float: left;
  margin-right: 0;
  width: 470px;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.2-p180@projectory/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.bp #wrapper #weeks {
  overflow-x: hidden;
}
/* line 105, ../../app/stylesheets/application.scss */
body.bp #wrapper #weeks #container {
  padding: 10px;
}
/* line 108, ../../app/stylesheets/application.scss */
body.bp #wrapper #weeks #container ul {
  list-style: none;
  padding-left: 0;
}
/* line 113, ../../app/stylesheets/application.scss */
body.bp #wrapper #weeks #container li {
  color: white;
  background-color: #995f1c;
  font-weight: bold;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px / 5px;
  -o-border-radius: 5px / 5px;
  -ms-border-radius: 5px / 5px;
  -khtml-border-radius: 5px / 5px;
  border-radius: 5px / 5px;
  margin: 0 0 5px 0;
  text-align: center;
}
/* line 124, ../../app/stylesheets/application.scss */
body.bp #wrapper #footer {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  -webkit-border-radius: 10px 10px;
  -moz-border-radius: 10px / 10px;
  -o-border-radius: 10px / 10px;
  -ms-border-radius: 10px / 10px;
  -khtml-border-radius: 10px / 10px;
  border-radius: 10px / 10px;
  background-color: #17806d;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.2-p180@projectory/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.bp #wrapper #footer {
  overflow-x: hidden;
}
/* line 129, ../../app/stylesheets/application.scss */
body.bp #wrapper #footer p {
  color: white;
  margin: 10px;
}
