%h2 Weeks

%ul
  - @weeks.each do |week|
    %li.week{ :id => week.id }= "#{week.start.strftime('%m/%d')} - #{(week.start + 5).strftime('%m/%d')}"
    %ul.projects
      - week.projects.each do |project|
        %li.project{ :id => project.id, :week_id => week.id, :style => "background-color: #{project.color}"}= project.title
       